
/*---------- GENERAL STYLES ----------*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: var(--font-color);
    -webkit-font-smoothing: antialiased;
} 

h1, h2, h3, h4, h5, h6, a, p, span, li, ol {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

.container-fluid, .row {
    padding: 0;
    margin: 0px;
}

.dropdown, .dropup {
    display: inline-block;
} 

button:focus{
    outline: none;
}

a:link, a:visited, a:active {
    text-decoration: none;
    outline: none;
    color: var(--font-color);
} 
a {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
}
textarea {
    border: 1px solid var(--border-color);
    color: rgba(74, 74, 77, 1);
    resize: vertical; 
    line-height: 22px;
    outline: none;
    padding: 8px 15px;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
}
textarea:focus {
    border-color: var(--link-hover); 
}
textarea::-webkit-input-placeholder, input::-webkit-input-placeholder { 
  color: #ababab;
}
textarea::-moz-placeholder, input::-moz-placeholder { 
  color: #ababab;
}
textarea:-ms-input-placeholder, input:-ms-input-placeholder { 
  color: #ababab;
}
textarea:-moz-placeholder, input:-moz-placeholder {
  color: #ababab;
}
input {
    border: 1px solid var(--border-color);
    color: rgba(74, 74, 77, 1);
    outline: none;
    padding: 8px 15px;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    box-shadow: none;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
}
input:focus,select:focus {
    border-color: var(--link-hover); 
}

label {
    color: var(--font-color);
}

select {
    border: 1px solid var(--border-color);
    color: rgba(74, 74, 77, 1);
    border-radius: 5px;
    outline: none;
    padding: 11px 10px;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    box-shadow: none;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
}
span.select-wrapper { 
    position: relative; 
    display: block; 
}
span.select-wrapper::after {
    content: " ";
    border-top: 6px solid #808080;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
@-webkit-keyframes autofill {
    to {
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
table {
    font-family: 'Montserrat', sans-serif;
}
/* Textbox and input */

.no-padding{
    padding: 0;
}

/* Article Btn */
.article-edit-btn {
    font-weight: bold;
    text-align: center;
    max-width: 150px;
    border: 1px solid #bbb;
    border-radius: 2px;
    font-size: 11px;
    padding: 0 5px;
    position: absolute;
    right: 0px;
    top: 0;
    background-color: #fff;
    z-index: 4;
}

.align-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
    display: -moz-flex;
    -moz-align-items: center;
    -moz-flex-wrap: wrap;
}

a.orange-btn, .orange-btn{
    display: inline-block;
    background-color: var(--link-hover);
    color: #fff;
    line-height: 1.8;
    padding: 14px 2.4em;
    margin: 5px 3px;
    border: 1px solid var(--link-hover);
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    font-size: 1.2em;
}

/* Scroll bar */
body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

body::-webkit-scrollbar
{
    width: 12px;
    background-color: gray;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #b3b3b3;
}

span.label-star {
    color: var(--link-hover);
    font-weight: bold;
    font-size: 14px;
}


[class*="col-"]{
    min-height: 0;
}

.not-available {
    cursor: not-allowed !important;
    text-decoration: line-through;
    border-color: var(--border-color) !important;   
    background-color: #ffffff !important;
    color: #494A4D !important;
}
.admin-article{
    position: absolute;
    top: -50px;
    right: 12px;
    text-align: center;
    padding: 12px 18px;
    margin: 0px;
    z-index: 2;
}

.modal-header .close {
    margin-top: -8px;
    font-size: 22px;
}
.close-me-btn {
    display: inline-block;
    background-color: var(--link-hover);
    color: #fff;
    line-height: 1.8;
    padding: 6px 2.2em;
    border: 1px solid var(--link-hover);
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.modal-title {
    font-size: 1.6em;
}
.modal-footer {
    padding: 15px 15px 25px 15px; 
}

.user-order-button{
    border-radius: 50px;
    background-color: #f1f1f1;
    font-size: 12px;
    padding: 0px;
    width: 30px;
    height: 30px;
    color: var(--label_color);
    border: 1px solid #f1f1f1;
}

/*-- User page  --*/
table span, table td {
    font-weight: 500;
}
 
.logged-user-page {
    padding: 30px 0px 80px;
}

.logged-user-page .order-table-div {
    padding-top: 50px;
}

.user-orders-table {
    width: 100%;
    margin: 10px 0;
}
.user-orders-table .summary span {
    font-weight: 700;
}
.user-orders-table th,td{
    border: 1px solid #ddd;
    padding: 14px 22px;
    text-align: center;
}
.dont-erase-me{
    padding: 10px;
}
.modal-footer, .modal-header {
    border: none;
}
.all-articles a {
    display: block;
    font-weight: 600;
}
.filters-button-div {
    display: none;
}
.modal-content {
    padding: 15px 15px 0px 15px;
    border: none;
    box-shadow: 0 5px 20px rgba(21, 21, 21, 0.29);
}
.modal {
    z-index: 9999;
    background-color: #00000029;
}

/*-- Scroll to top --*/
a.JSscroll-top {
    position: fixed;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: var(--font-color);
    right: -70px;
    bottom: 20px;
    background-color: var(--light-gray);
    z-index: 9;
    padding: 16px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    border-radius: 50%;
}

.fancybox-overlay-fixed, .fancybox-opened {
    z-index: 9999 !important;
}
.swal-button {
    font-size: 16px;
}
.swal-button--confirm {
  display: none;
}
.swal-text {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}
.swal-button--no, .swal-button--no:hover, .swal-button--no:active {
    background-color: var(--link-hover);
    box-shadow: none;
}
.swal-button--yes, .swal-button--yes:focus, .swal-button--yes:hover, .swal-button--yes:active {
    background-color: #ededed;
    color: #0a436c;
    box-shadow: none;
}

@media (min-width: 1024px) {
   a.JSscroll-top:hover {
        color: var(--link-hover);
    } 
    .user-order-button:hover {
        background-color: #e6e6e6;
    }
    a:hover{
        color: var(--link-hover);
        text-decoration: none;
    }
    a.orange-btn:hover, .orange-btn:hover, #loginModal .button-div a:hover {
        background-color: #fff;
        color: var(--link-hover);
    }
}