body {
    font-family: 'Armata', sans-serif;
    font-size: 14px;
    font-weight: normal;  
    color: var(--body_color); 
    background-color: var(--body_bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}  
/*NO MARGIN*/
body, .no-margin, .row, input[type="checkbox"], input[type="radio"], ul, h1, h2, h3, h4, h5, h6,
.JSinfo-popup .p-info, .header-search input[type="text"], .header-search select, .JSproducts_slick .slick-prev, 
.JSproducts_slick .slick-next, .JSblog-slick .slick-prev, .JSblog-slick .slick-next,
.product-timer, input.JScart-amount, input.cart-amount, .vezani_artikli .linked-articles-input, input.cart-amount, .banerTxt p,
.JScookies-part .nav > li > a
{
    margin: 0; 
}
/***************************************/
/*NO PADDING*/
body, .no-padding, .currency-list, .login-dropdown, ul, .JSsticky_header .logo, .sub-group a,  
input.JScart-amount, input.cart-amount
{
    padding: 0;
} 
/***************************************/
/*TEXT CENTER*/
.JSinfo-popup .p-info, .JSsubcat-toggle, .section-title, .page-title,
.shop-product-card-list .ribbon-sale span, .JSscroll-top, .zoomWrapper, 
input.JScart-amount, input.cart-amount, .user-orders-table th, .user-orders-table td, .bootbox p, 
.vezani_artikli .linked-articles-input, .admin-article, .article-edit-btn, .printer a i
{
    text-align: center;
}
/***************************************/
/*RELATIVE*/
.relative, .section-title, select, .popup-wrapper, span.select-wrapper, .JSlevel-2 li,
.zoomWrapper, .comment-content, .files-list-item, #main-menu li, #main-menu > li > a, 
.shop-product-card-list, .JSproducts_slick, .JSblog-slick, .shop-product-card .not-available i 
{
    position: relative;
}
/***************************************/
/*INLINE BLOCK*/
.inline-block, .capcha input[type="text"], .popup-wrapper, .selected-filters li, 
.JSmain-slider .sliderText div > *, .article-details, .generic_car ul li, .generic_car_list ul li,
.product-tags a,  .footer-links li a, .view-buttons span, #JScompareTable .JSclearCompare,
.article-level-edit-btn, .files-list-item, .features-list li,  
.mini-cart-sum i, .sum-label, .sum-amount, .printer a, .shop-product-card-list .add-to-cart-container > *
{
    display: inline-block;
}
/***************************************/
/*COLOR WHITE*/
.shop-product-card-list .ribbon-sale span, .show-compered:hover, #JScompareTable .JSclearCompare, 
.bootbox .modal-dialog .btn:nth-child(1),
.color-white, .sliderText, .shop-product-card .not-available-style, .banerTxt 
{
    color: #fff;
}
/***************************************/
/*BOLD*/
.text-bold, .compare-table tr td:first-child, 
.comment-name, .without-btn, .article-level-edit-btn,
.files-list-item, .brend-item, .article-edit-btn, .success, h1, h2, h3, h4, h5, h6,
.PDV, .descr-title
{
    font-weight: 600;
}
/***************************************/
/*FONT 500*/
label, .article-details, .product-name, .news-title
{
    font-weight: 500;
}
/***************************************/
/*BORDER-RADIUS:4px */
.JScategories, input[type="text"], input[type="password"], select, textarea, .JSsearch-button2, 
.JSheader-cart-content, .like-it, .printer a i, .not-available, .buy-btn, .quick-view-btn, 
.view-buttons span.active, .view-buttons span:hover, .shop-product-card-list .add-to-cart-container, 
.filter-links, .selected-filters li, .JSreset-filters-button, .button, .without-btn , #JSQuickViewContent .add-to-cart-area > * , 
.printer, .product-tags a, .resp-nav-btn, .JStoggle-btn, #JScompareTable .JSclearCompare, .additional_img a
{
    border-radius:4px;
}

/***************************************/
/*OUTLINE NONE*/
.btn.focus, .btn:focus, .btn:hover, .JSproducts_slick > *:focus,
a:link, a:visited, a:active, button:focus, .btn-slider 
{ 
    outline: none; 
}
/***************************************/
/*LINE HEIGHT 1*/
.line-h, img, .facebook-btn-share, .first-popup .JSclose-me-please,  
.price-holder, .generic_car ul, .generic_car_list ul 
{
    line-height: 1;
}
/***************************************/
/*TEXT UPPERCASE*/
.h2-container, .shop-product-card-list .ribbon-sale span, .ft-section-title, .compare-table tr td:first-child, .without-btn, 
.breadcrumb li a, .breadcrumb li, .global-currency
{
    text-transform: uppercase;
}
/***************************************/
/*FONT SIZE 85%*/
img, .breadcrumb li, .selected-filters li, .JSsubcat-toggle, .related-custom .title,
.compare-table tr td:first-child, .files-list-item, .review, .comment-rating, .sub-group a
{
    font-size: 85%;
}
/***************************************/
/*DISPLAY BLOCK*/
.section-title, .page-title, .filter-price, .filter-text, .top-menu a, #main-menu .drop-2 li a, .header-dropdown:hover .drop-2,
span.select-wrapper, .search_list__item__link, .manufacturer-categories a, .banners a, 
.product-price, .shop-product-card .add-to-cart-container > button, .shop-product-card-list .ribbon-sale span,  
.comment-content, .comment-content span,.JSwithout-reg-none-personal.active, .JSwithout-reg-personal.active,
.category-name-link, .category__list, .category__list__item__link, .category-sidebar__list__item__link, .admin-article .supplier,
.welcome-login, .welcome-login span, .no-articles, .JSlevel-1 a, #main-menu li a, .lvl-2-img-cont
{
    display: block;
}
/***************************************/
/*DISPLAY NONE*/
.popup, .JSfilters-slide-toggle-content, .JShidden-msg, .slick-dots li,
.slickTitle, .JSlevel-2, .JSlevel-4, .cookies_tabs,
.JSwithout-reg-none-personal, .JSwithout-reg-personal, .JShidden-if-no-filters, .dropdown-backdrop
{
    display: none;
}
/***************************************/
/*DISPLAY FLEX*/
.flex, .cart-item li 
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
}
/***************************************/
/*VERTICAL ALIGN MIDDLE*/
.v-align, .logo, .view-buttons span, a.elevatezoom-gallery, a.JScart-less, a.JScart-more, 
.generated-features-list > li:nth-child(1), .generated-features-list > li:nth-child(2), 
.generated-features-list > li ul li, .button, .printer a i, .shop-product-cart .add-to-cart-container > button *, 
.cart-me, .product-preview-info .add-to-cart-area > form > *,
#JSQuickViewContent .add-to-cart-area > * 
{
    vertical-align: middle;
}
/***************************************/
/*MARGIN AUTO*/
.slick-slider img, .first-popup .first-popup-inner, .margin-auto, .zoomWrapper img,
a.elevatezoom-gallery img, .gallery_slider img, .modal-cont img, .JSmain_img, .cart-item li > * 
{
    margin: auto;
}
/***************************************/
/*OVERFLOW HIDDEN*/
.overflow-hdn, .popup, .sub-group a, .product-meta, .product-image-wrapper,
.JSmain-slider, .related-custom .title, .generic_car ul, .generic_car_list ul, 
.shop-product-card-list .ribbon-sale, a.elevatezoom-gallery, .additional_img a, 
.brend-item, .price-holder, .banners a, .JSproducts_slick .slick-list,
.JSblog-slick .slick-list, .gallery_slider a, .main_imgGallery, .map-frame 
{
    overflow: hidden;
}
/***************************************/
/*MAX WIDTH 100%*/
.first-popup-inner img, .max-width
{
    max-width: 100%;
}
/***************************************/
/*CURSOR POINTER*/
.button, .pagination .disabled a:hover, .pagination .disabled a, .JSscroll-top, .first-popup .JSclose-me-please, .JSsubcat-toggle, .printer a i, 
#JScompareTable .JSclearCompare, .zoomLens, a.elevatezoom-gallery, .without-btn, .login-title span, .JSmain_img, .JSclose-modal:hover,
.JScookiesInfo_btn
{
    cursor: pointer;
}
/***************************************/
.section-title, .JSproduct-list-options
{
    background: var(--title-background);
    border-bottom: 1px solid var(--border_bottom);
}
 .page-title {
    border-bottom: 1px solid var(--border_bottom);
 }

/***************************************/
.seo {  
    position: absolute;
    top: -999px;
    left: -999px;
}

img {
    color: #bbb;  
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}
.JSleft-body-link, .JSright-body-link { 
    position: absolute;
    left: 0; 
}
.JSright-body-link {  
    left: unset;
    right: 0;
}
/*===================*/
.capcha {
    border: 1px solid #ddd;
    background: #f7f7f7;
    padding: 8px 0;
    margin: 10px 0;
    box-shadow: 1px 1px 5px #ccc;
}
.capcha input[type="text"] {
    width: auto; 
    margin: 0 5px;
}
.capcha img { margin: 0 5px 10px; }
/*====================*/ 
.currency-btn {
    background-color: var(--currency_bg);
    color: var(--currency_color);
    padding: 2px 8px;
    margin: 7px 0 7px 0;
}

.currency-btn:focus, .currency-btn:active:focus { outline: none; box-shadow: none;}

.currency-list li { border-bottom: 1px solid #ddd; }

.currency-list, .login-dropdown { min-width: 100%; z-index: 2; }

.login-dropdown li a {  padding: 5px 15px; }

.login-dropdown { top: calc(100% - 6px); }

[class*="col-"] { min-height: 0; }

/***********/

.pagination { margin: 10px 0 5px; }

.pagination li a {
    padding: 5px 10px;
    background-color: var(--pagination_bg);
    color:  var(--pagination_color);
    border: none;
    font-size: 20px;
}
.pagination > .disabled > a { color: var(--pagination_color); }

.pagination >.active > a, .pagination > .active > a:hover {
    background: var(--pagination_bg);
    color: var(--pagination_color_active);
    border-radius: 0 !important;
    z-index: 0;
} 
/***********/

.soc-network{ margin: 0 2px; } 

.nav > li > a:focus, .nav > li > a:hover { background-color: transparent; }

a:link, a:visited, a:active { text-decoration: none; color: inherit; }
a:hover { color: var(--a_href_color); transition: all 0.1s ease 0s; -webkit-transition: all 0.1s ease 0s; }
ul { list-style-type: none; }
/*h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', Arial, sans-serif;  }*/
h1 { font-size: 1.8em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }

.full-height {
    height: 100%;
}
.z-index-1 {
    z-index: 1;
}

.global-currency {
    font-size: 70%;
}
/***********/

.section-title, .page-title {  
    margin: 0 0 10px;
    font-size: 23px;
    padding: 10px 0;
    font-weight: 500;
    color: var(--h2_color);
}
/*.section-title:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 60px;
    background-color: var(--global_color);
}*/
/***********/ 
 
.breadcrumb { 
    margin: 7px 15px 0;
    background: var(--breadcrumb_bg);
    border-bottom: 1px solid var(--border_bottom); 
}
 
 input[type="text"], input[type="password"], select, textarea {
    width: 100%;
    margin: 0 0 5px 0;
    color: #666;
    padding: 5px 10px;
    height: 36px;
    border: 1px solid #ddd;
    background-color: var(--input_bg_color);
}

.no-radius input { border-radius: 0 4px 4px 0; }
textarea { resize: none; height: auto; }
select {
    -moz-appearance: none;
    -webkit-appearance: none;
}
label { 
    color: var(--label_color); 
    margin: 5px 0 0;
}

/*BUTTON*/
button {
    border: none;
    background: none;
}
.button, .product-tags a {
    padding: 6px 15px;
    margin: 5px 0; 
    -webkit-transition: 0.3s all;
    transition: 0.3s all; 
    background-color: var(--btn_bg); 
    border: 1px solid var(--btn_bg);
}
.button, a.button, .product-tags a { color: var(--btn_color); }

.button:hover, .product-tags a:hover {
    color: var(--btn_bg); 
    background-color: var(--btn_hover_bg) !important; 
}

.padding-v-20 { padding-top: 20px; padding-bottom: 20px; }

/*--- POPUP ADD TO CART ---*/
.popup {
    position: fixed; 
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; 
    background: rgba(0,0,0, .7);
    z-index: 99999;
}
.popup-wrapper {     
    max-width: 315px;
    width: 100%; 
    top: 40%;
    left: 50%; 
    transform: translate(-50%, 0);
} 
.JSinfo-popup .p-info { 
    color: #474747; 
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 5px 5px 20px 5px #333;
    font-size: 16px;
}
/*========================*/ 
.first-popup {
    position: fixed;
    top: -1000px; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 70;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex; 
}
.first-popup .first-popup-inner {  border: 1px solid #ddd; max-width: 88%; }
.first-popup .JSclose-me-please {
    color: #f2f2f2;
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 5;
    font-size: 30px; 
    padding: 0 5px;
    text-shadow: 0 0 3px #000; 
}
.first-popup .JSclose-me-please:hover {
    opacity: .8;
    text-shadow: 0 0 10px #000;
}
.first-popup-inner img { 
    max-height: 480px;
    padding: 2px;
} 
/*======================*/

.slick-slider { margin-bottom: 0 !important; }

/*======================*/

.JSproducts_slick .slick-prev, .JSproducts_slick .slick-next,
.JSblog-slick .slick-prev, .JSblog-slick .slick-next 
{  
    position: absolute;
    top: -45px;
    right: 5px;
    z-index: 2; 
    width: 25px;
    height: 25px; 
    background: transparent;
    font-size: 0;
}
.JSproducts_slick .slick-prev, .JSblog-slick .slick-prev {
    left: unset; 
    right: 35px;
}
.JSproducts_slick .slick-next:before, .JSproducts_slick .slick-prev:before, 
.JSblog-slick .slick-next:before, .JSblog-slick .slick-prev:before 
{
    content: '';
    border: 3px solid;
    border-color: var(--global_color) var(--global_color) transparent transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: inline-block;
    width: 11px;
    height: 11px;
}
.JSproducts_slick .slick-prev:before, .JSblog-slick .slick-prev:before  {
    border-color: transparent transparent var(--global_color) var(--global_color);
    margin: 0 0 0 5px;
} 
/*======================*/
/* filters */
.filter-links { 
    justify-content: space-between; 
    -webkit-justify-content: space-between;
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin: 5px 0 0;
    background-color: var(--filters_bg);
}
.filter-price { margin: 0 0 10px; }

#JSslider-range {
    max-width: 95%;
    height: 10px;
    margin: auto;
    border-color: #ddd;
}

#JSslider-range > div {
    background: #f2f2f2;
}

#JSslider-range > span {
    background: #d6eaf5;
    width: 16px;
    height: 16px;
}

.selected-filters li {  
    padding: 5px 10px;
    background-color: #f2f2f2;
    margin: 5px 0;
}
.filter-box label { 
    background: #f5f5f5;
    padding: 2px 8px; 
    flex-wrap: nowrap;
}
.filter-box label:hover { box-shadow: 2px 0 0 inset #5b98b9; }

.filter-box a:hover { box-shadow: 0 0 5px #ddd; }

.filter-text { margin: 0 5px; width: 100%; /*for flexbox*/ }

/* SLAJDER ZA CENU END */
a.JSreset-filters-button { 
    background: #f2f2f2;
    padding: 7px;
    display: block;
    color: var(--remove_color);
}

a.JSreset-filters-button span {
    font-size:  12px;
 
}
.JSfilter-close  { color: var(--remove_color); }

a.JSreset-filters-button:hover, .JSfilter-close:hover {
    opacity: .8;
}

/****************************/

.gallery-ban {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(8, auto);  
    grid-template-rows: repeat(4, minmax(160px, 1fr));

}
.gallery-ban .bg-img:nth-child(1) {
    grid-column: 1 / 4;
    grid-row: 1 / 5;
} 
.gallery-ban .bg-img:nth-child(2) {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
} 
.gallery-ban .bg-img:nth-child(3) {
    grid-column: 7 / 9;
    grid-row: 1 / 3;
} 
.gallery-ban .bg-img:nth-child(4) {
    grid-column: 6 / 4;
    grid-row: 3 / 5;
} 
.gallery-ban .bg-img:nth-child(5) {
    grid-column: 9 / 6;
    grid-row: 3 / 5;
}
.gallery-title {
    position: absolute;
    bottom: 30px;
    left: 15px;
    width: calc(100% - 30px);
    font-size: 180%;
}

/**************/

.gallery_slider {
    display: grid;
    grid-gap: 10px;
}
.gallery_slider a {
    border: 1px solid transparent;
    padding: 5px;
}
.gallery_slider .JSimg-gallery { 
   transition: .2s ease-in-out; 
    -webkit-transition: .2s ease-in-out; 
}
.gallery_slider .galery_Active, .gallery_slider .JSimg-gallery:hover {
   transform: scale(1.05);
   border: 1px solid var(--global_color);
}

/*--- PRODUCT PREVIEW AND GALLERY SLIDER ---*/ 
.JSmain_img {  
  transition: 0.3s;
  padding: 5px;
}
.JSmain_img:hover { opacity: 0.7; }
 
.JSmodal {
    display: none;
    position: fixed;
    z-index: 61;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.full-screen {
    height: 100%;
}
.modal-cont {
    margin: auto;
    display: block;
    max-width: 100vw;
    width: 90%;
    /*max-height: 90%;*/
    overflow: hidden; 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}  
/****************/
.modal-cont .btn {
    border: 1px solid rgba(255,255,255, .2);
    position: absolute;
    top: 50%;
    left: 1px;
    z-index: 1;
    padding: 0;
    width: 30px;
    height: 50px;
    color: #fff;
    margin-top: -25px;
    display: none;
    background: rgba(0,0,0, .8);
} 
.modal-cont .JSright_btn {
    left: unset;
    right: 1px;
}
/****************/

.modal-cont img {
    max-height: 95vh;
    background: #fff;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}  
.JSclose-modal {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 10px;
    color: #fff;
    font-size: 25px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    text-shadow: 0 0 2px #000;
}
.JSclose-modal:hover {
    opacity: .7; 
}

/*--- PREHEADER ---*/
#preheader { background-color: var(--top_menu_bg);}
 
.JStoggle-btn {
    margin: 5px;
    padding: 0 6px;
    border: 1px solid #666;
    user-select: none;
}  
.top-menu a {
    padding: 5px;  
    color: var(--top_menu_color); 
} 

/**************/

.required-fields { font-size: 115%; padding: 15px;}
.required-fields span, .red-dot-error { color: red; } 

/**************/ 

.menu-background { background-color: var(--menu_bg); } 

#main-menu li a { padding: 8px 5px; } 

#main-menu > li > a:after, .footer-links li a:after, .login-title span:after, .login-title span.active-user:after  {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background: var(--global_color);
    right: 0;
    bottom: 0;
    transition: all .2s ease-in-out;
}
#main-menu > li >a:hover:after, .footer-links li a:hover:after, .login-title span:hover:after, .login-title span.active-user:after {
    width: 100%;
    left: 0;
    right: auto;
}
/*===============================*/
.drop-2 { 
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 180px; 
    z-index: 3;
}  
.drop-2 ul {
    margin-left:  20px;
}
/*===============================*/ 
#logout-button {
    padding: 0 5px;  
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
/*--- HEADER ---*/
header { background: var(--header_bg); }

.header-cart-container:hover .JSheader-cart-content { visibility: visible; opacity: 1; }

.JSheader-cart-content {
    background: #fff;
    position: absolute;
    width: 360px;
    right: 0;
    top: calc(100% - 4px);
    padding: 0 10px;
    box-shadow: 0 0 2px 0 #999; 
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    max-height: 550px;
    overflow: auto;
}
.mini-cart-item {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.mini-cart-title {
    margin: 0 0 10px;
    max-width: 90%;
}
.remove-cart-item {
    position: absolute;
    top: 0;
    right: 5px;
    color: var(--remove_color);
}
.remove-cart-item i, .remove-item span { color: var(--remove_color); }

.remove-item span:hover, .remove-cart-item i:hover { opacity: .8; }

.mini-cart-img { max-height: 55px; }
 
.mini-cart-sum li { 
    text-align: right;
    padding: 5px 7px;
    margin: 8px 0;
    background: #f2f2f2; 
}
.mini-cart-sum i {
    font-style: normal;
    min-width: 100px; 
}
 
/*======= STICKY HEADER ANIMATION ========*/
.JSsticky_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 60;
    animation: smooth_slide .3s;
    background: var(--header_bg);
    box-shadow: 0 1px 4px #a6a6a6;
}
@keyframes smooth_slide {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
} 
.JSsticky_header .logo img { max-height: 50px; }

/*===== LOGO ==========*/
.logo { 
    padding: 15px 0; 
}
.logo img { max-height: 60px; }

/*- SEARCH -*/
.JSsearch-button2 {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 5px 15px;
    height: 32px;
    background-color: var(--input_bg_color);
    font-size: 16px;
}

.JSsearch-button2:hover > i, .login-btn:hover > i {  color: var(--a_href_color); }

.header-search input[type="text"]:focus, .header-search select:focus, input.cart-amount:focus { outline: none; }

.header-search select {
    border-right: 0; 
    padding: 0 20px 0 5px; 
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 4px 0 0 4px;
} 
.header-search span.select-wrapper::after, span.select-wrapper::after {
    content: " ";
    border-top: 0.4em solid #808080;
    border-right: 0.2em solid transparent;
    border-left: 0.2em solid transparent;
    position: absolute;
    top: 42%;
    right: 8px;
} 
/* Search sugestions */
ul.JSsearch_list {
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: 999;
    width: 100%;
    background: #fff;
    box-shadow: 1px 1px 10px #b3b3b3;
    max-height: 400px;
    overflow: auto; 
    font-size: 88%;
    text-align: left;
}
.JSsearch_list li:not(.search_list__title) { 
    margin: 0 0 5px;
    background: rgba(0,0,0,.02);
    padding: 4px 16px;
    line-height: 1.2;
} 
.search_list__item__link__cat { 
    color: #808080; 
    text-align: right; 
    display: block;
}
.search_list__title {
    font-weight: 600;
    padding: 3px 5px;
    background: rgba(0,0,0,.06);
    border-bottom: 1px solid rgba(0,0,0,.05);
}
/*- HEADER CART -*/
.login-btn, .header-cart {
    padding: 15px 8px;
} 
.login-btn, .header-cart {
    font-size:21px;
}

.JScart_num {
    bottom: 14px;
    position: absolute;
    right: 0;
    background: var(--cart_number_bg);
    padding: 3px 5px;
}
.JSbroj_wish { color: var(--global_color); padding: 15px 0 0 0;} 
    
.JSheader-cart-content .close:hover { opacity: .7; }

/***************/
.sub-group-padding { padding: 15px 0; }
.sub-group a {
    height: 75px;  
    margin: 3px;  
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
} 
.sub-group a:hover {
    border-color: var(--global_color);
}
.sub-group img {
    max-height: 55px;
    max-width: 50px; 
    padding: 5px 0;
    margin: 0 8px;
}
.sub-group span {
    max-width: 130px;
}  
/*============= Manufacturer =================*/
 
.manufacturer-categories h3 {
    font-size: inherit;
    margin: 5px 0;
    padding: 5px;
    font-weight: 100;
    border-bottom: 1px solid #ccc;
}
.manufacturer-categories a {
    margin: 3px 0;
    padding: 3px 6px;
    background-color: #f9f9f9;
}
/*==========================================*/

/*- CATEGORIES -*/ 
.lvl-1-img-cont { 
    width: 25px;
    height: 20px; 
    margin: 0 5px 0 0;
}
.lvl-1-img-cont img {
    max-width: 100%;
    max-height: 20px;
    padding: 1px;
}
.lvl-2-img-cont {
    width: 60px; 
    height: 50px;
    line-height: 50px; 
}  
.lvl-2-img-cont img { 
    max-height: 45px;
    max-width: 100%;
} 

/******************/

.JSlevel-1 li a {   
    font-size: 90%; 
    border-bottom: solid 1px #f2f2f2;
    padding: 6px 12px;
} 
.JSlevel-1 > li > a {
    min-height: 32px; 
    color: var(--level_1_color);
    line-height: 20px;
} 
.JSlevel-2 li a {  
    color: var(--level_2_color); 
} 
.JSlevel-3 li a { border-bottom: none !important; }  

/******************/
.down-arrow {
    position: absolute;
    right: 10px;
    font-size: 85%;
    top: 50%;
    transform: translate(0,-50%);
}
.category-nav h3 {
    padding: 10px; 
    font-size: 15px;
    font-weight: 500; 
    background-color: var(--categories_title_bg);
} 
 .JSlevel-2 ul {
    margin-left:  20px;
}

/******************/

.JSsubcat-toggle { 
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 25px;
    line-height: 25px;
    background: #fff;
}
.JSsubcat-toggle.rotate {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    color: var(--global_color);
} 
/*- MAIN CONTENT -*/
.d-content { 
    min-height: 500px;  
}
.d-content:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
}
/********************/

/*- MAIN SLIDER -*/
.JSmain-slider { margin-bottom: 14px; } 
  
.JSmain-slider .sliderText {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%); 
    width: 100%;
    max-width: 550px;
    z-index: 1; 
    background: rgba(0,0,0, .3);
}

.JSmain-slider .sliderText div > * {
    margin: 5px 0;
    text-shadow: 0 0 1px var(--body_color);
    padding: 5px 50px; 
} 

.JSmain-slider .slick-next { right: 0; }

.JSmain-slider .slick-prev { left: 0; }

.JSmain-slider .slick-next, .JSmain-slider .slick-prev {
    height: 50px;
    width: 50px;
    margin: -20px 10px 0;
    background-color: rgba(255,255,255,.3);
    border-radius: 50px;
}

.JSmain-slider .slick-prev:before, .JSmain-slider .slick-next:before {
    content: '';
    border: 3px solid;
    border-color: #fff #fff transparent transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    opacity: 1;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 7px 0 0;
} 

.JSmain-slider .slick-prev:before {
    border-color: transparent transparent #fff #fff;
    margin: 0 0 0 7px;
}

.JSmain-slider .slick-prev:hover, .JSmain-slider .slick-next:hover { background-color: rgba(102, 102, 102, .7); }

.slider-link { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.bg-img {
    padding-top: 40%;
    background: center/cover no-repeat;
}

/*BANNERS */

.banners .sliderText {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 30px);
    z-index: 1;
    background: rgba(0,0,0, .3);
    pointer-events: none;
}
.banners a { 
    margin: 0 0 14px;
    padding: 0 7px; 
    max-height: 240px;
} 
.banners img { 
    margin: 0 auto; 
    max-height: 230px;
}

.banners a:after, .gallery-ban .slider-link:after, .txt-banner a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background: rgba(255,255,255, .2);
    z-index: 1;
    top: 0;
    left: 50%;
    transition: all .2s ease 0s;
    -webkit-transition: all .2s ease 0s;
}
.banners a:hover:after, .gallery-ban .slider-link:hover:after, .txt-banner a:hover:after { 
    width: 100%; 
    left: 0;   
}

.banerTxt {
    position: absolute;
    left: 15px;
    top: 50%;
    padding: 15px 10px;
    transform: translateY(-50%);
    width: calc(100% - 30px);
    background: rgba(0,0,0, .3);
    pointer-events: none;
}
/************************/

.related-custom .slick-prev, .related-custom .slick-next {
    display: none !important;
}
.related-custom .card { 
    padding: 15px 0;
}
.related-custom .img-wrap img {
    max-height: 50px;
}
.related-custom .title { 
    white-space: nowrap;
    text-overflow: ellipsis; 
}
.related-custom .price {
    font-size: 16px;
}
/*- PRODUCT */
.product-timer {
    position: absolute;
    width: 100%;
    background: #fff;
    bottom: 0;
    left: 0; 
    table-layout: fixed;
}

.JSproduct-list { padding: 0 0 10px; }

/*==================*/
.shop-product-card { 
    background: var(--product_bg); 
    transition: 0.2s all;
    -webkit-transition: 0.2s all; 
}
#JSQuickViewContent .sale-label { 
    position: absolute;
    right: 15px;
    top: 0; 
    z-index: 2;
 }
.sale-label { 
    background: var(--sale_action_price_bg);
    font-size: 90%;
    letter-spacing: 1px;
    border-radius: 50%;
    padding: 5px 10px;  
}

/*==================*/
.article_top_info {
    position: absolute; 
    top: 10px;
    left: 5px;
    z-index: 1; 
    width: calc(100% - 10px);
    pointer-events: none;
} 
.JSproduct-preview-image .product-sticker {
    position: absolute; 
    top: 5px;
    left: 20px;
    z-index: 1; 
    pointer-events: none;
    width: calc(100% - 40px);
}
.article-sticker-img { flex:1; }

.article-sticker-img img { 
    max-height: 65px;
    padding: 2px; 
}
/*==========*/
.shop-product-card .product-meta { padding: 0 5px 10px; background-color: var(--product_bottom_bg); }

.shop-product-card .add-to-cart-container {  
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%); 
    z-index: 9;
}

/*ANIMATION ADD-TO-CART-CONtAINER - SHOW TEXT NEXT TO ICON*/ 

.shop-product-card .add-to-cart-container > button { 
    width: 30px;
    height: 30px;
    padding: 0;
    overflow:hidden; 
    white-space: nowrap; 
    font-size: 12px;
} 

.shop-product-card .add-to-cart-container > button span { 
    display: inline-block;
    padding: 0 5px;
    height: auto;
    visibility: hidden; 
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transform: translate(-10px);
    color: var(--global_color);
}

.shop-product-card .add-to-cart-container > button:hover span { 
    visibility: visible;
    transform: translate(0);
}

.shop-product-card  .add-to-cart-container > button i { 
    height: 30px;
    line-height: 30px;
    width: 28px;
    text-align: center;
    box-shadow: 0 0 3px var(--btn_bg);
}

.shop-product-card .add-to-cart-container > button:hover { width: auto; }

.shop-product-card .not-available-style i:after {
    content: "";
    position: absolute;
    top: 13px;
    left: 4px;
    width: 80%;
    height: 1.5px;
    transform: rotate(45deg);
    background: #c15858;
}

.shop-product-card .not-available-style {     
    background: #ea6464;
    border: 1px solid #ea6464; 
}

.shop-product-card .not-available-style:hover {
    background: #fff;
    color: var(--global_color);
}

.like-it.active * { color: #000 !important; }

/******************/ 
.num-rates .lorem-1 {
    font-size: 90%;
    color: #666;
    margin: 0 30px 0 0;
}
.num-rates  .select-wrapper {
    min-width: 130px;
    display: inline-block;
}
/******************/ 
 
.product-name { 
    font-size: 14px;
    color: var(--product_title_color); 
    margin: 10px 0;
} 
.price-holder { 
    font-size: 145%;
    color: var(--product_price_color);
} 
.product-old-price {
    text-decoration: line-through;
    color: var(--product_old_price_color); 
    font-size: 80%;
}

.product-image-wrapper{ height: 255px; } 

.shop-product-card .product-image { max-height: 245px; padding: 0 5px; }

.article-details {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
    opacity: 0; 
    visibility: hidden; 
    z-index: 5;  
    background-color: #FFF;
    box-shadow: 0 0 5px rgba(0,0,0, .5);
    padding: 10px 5px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    backface-visibility: hidden;
    -webkit-backface-visibility: visible;
}

.shop-product-card:hover .article-details { opacity: 1;  visibility: visible; }
 
/*========================*/

.generic_car ul, .generic_car_list ul {
    font-size: 12px; 
    color: #333;
    height: 52px; 
    margin: 0 0 10px;
}
.generic_car_list ul {
    height: auto;
}
.generic_car ul li, .generic_car_list ul li {
    width: 48%; 
    padding: 0 5px;
} 
.generic_car_list ul li:nth-child(2n+1) {
    padding-left: 0;
}

/*=========== PRODUCT ON LIST ==================*/

.shop-product-card-list {
    border: 1px solid #ddd;
    border-bottom: 1px solid transparent;
    background-color: var(--product_bg);
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
}
.shop-product-card-list:last-child {
    border-bottom: 1px solid #ddd;
}

.shop-product-card-list:hover { border: 1px solid #5b98b9; }

.shop-product-card-list .product-image-wrapper { height: 160px; }

.shop-product-card-list .product-image {
    max-width: 90%;
    max-height: 160px; 
    padding: 5px 0; 
}
.shop-product-card-list .product-name { margin: 10px 0; padding: 5px 0; border-bottom: 1px solid #ddd; }

.shop-product-card-list .add-to-cart-container > button:hover * { color:  #666; }

.shop-product-card-list .add-to-cart-container > button { padding: 3px 5px; }
.shop-product-card-list .add-to-cart-container  { margin: 10px 0; }

.shop-product-card-list .ribbon-sale {
    position: absolute;
    right: -5px; 
    top: -5px;
    z-index: 1; 
    width: 75px; height: 75px;
}
.shop-product-card-list .ribbon-sale span {
    font-size: 13px;  
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    background: var(--global_color);
    box-shadow: 1px 1px 5px #bbb;
    position: absolute;
    top: 19px;
    left: -3px;
}
.shop-product-card-list .ribbon-sale span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid var(--global_color);
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--global_color);
}
.shop-product-card-list .ribbon-sale span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid var(--global_color);
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--global_color);
}

.shop-product-card-list .not-available i { display: none; }

/*===========================*/ 

/* ========= QUICK VIEW ============== */

#JSQuickViewContent .article-heading { border-bottom: none; }

#JSQuickViewContent .add-to-cart-area > * {
    border: 1px solid #ccc; 
    height: 35px; 
}

#JSQuickViewContent .add-to-cart-area > .like-it {  
    width: 35px;  
}
#JSQuickViewContent .add-to-cart-area > .like-it:hover { color: var(--global_color); } 

#JSQuickViewContent .sale-label { padding: 10px; }

.add-to-cart-area > .button, #JSQuickViewContent .add-to-cart-area > .like-it , .add-to-cart-area form > * {
    margin: 10px 0 ;
}

.quick-view-wrapper img { max-height: 300px; }

/*===========================*/ 

/* ========= TAGS ============== */
.product-tags { margin: 15px; }
.product-tags div { border-bottom: 1px solid #ddd; }

.product-tags a { padding: 3px 6px; }

/*===========================*/ 
   
.article-brand-img img { max-height: 50px; padding: 5px 0; }

.artical-brand-text {  
    margin: 5px 0 10px; 
} 
/*--- FOOTER ---*/
footer { 
    background-color: var(--footer_bg);
    padding: 40px 0 20px; 
}

.footer-logo {
    margin: 5px 0 10px; 
    max-height: 65px;
}

.ft-section-title { min-height: 30px; margin: 5px 0; }
 
footer li { margin: 5px 0; } 

.JSfooter-secs{ margin: 0 0 15px; }

.after-footer { 
    background-color: #fff; 
    padding: 5px 0;
}

/*============== LOGO BANKS ===========*/ 
.banks > ul:first-of-type li img {
    max-height: 30px;
}
.after-footer .banks > ul:last-of-type li img {
    max-height: 42px;
}
.after-footer .banks {
    padding: 5px 0;
}
.after-footer .banks img {
    max-width: 150px;
    margin: 5px 0; 
}
.after-footer .banks .list-inline { margin-left: 0; }

/*===========================*/ 

.newsletter-part h5 { margin: 10px 0px; }

.newsletter button, .newsletter i {
    position: absolute;
    top: 3px;
    right: 15px;
    height: 30px;
    line-height: 28px;   
}

.newsletter button:hover { color:var(--a_href_color) }

.newsletter i {
    right: unset;
    left: 0px;
    padding: 1px 6px;
    font-size: 13px;
}

.newsletter input {
    padding-right: 25px;
    padding-left: 25px;
    border:  0;
    border-bottom:  1px solid #b3b3b3;
    background: transparent;
}
.newsletter input:focus { outline: none; }

/*============== COOKIES ===========*/
.JScookies-part {
    position: fixed;
    left: 0;
    bottom: -500px;
    z-index: 999;
    width: 100%;
    background: rgba(255,255,255,.9);
    box-shadow: #737373 2px 7px 9px 2px;
    -webkit-box-shadow: #737373 2px 7px 9px 2px;
}
.JScookies-part .alert {
    max-width: 640px;
    width: 100%;
}
.JScookies-part .tab-titles li {
    float: none;
    clear: both;
}
.JScookies-part .tab-content, .JScookies-part .nav-tabs  { border-color: transparent; }

.JScookies-part .nav-tabs { background: #f5f5f5; }

.cookies_tabs {
    border: 1px solid #f5f5f5;
    background: #fff;
}
.JScookies-part .tab-content {
    max-height: 120px;
    overflow-y: auto;
}
.JScookies-part .nav-tabs > li > a, .JScookies-part .nav-tabs > li.active > a { padding: 5px 15px; }  

.JScookies-part .nav-tabs, .JScookies-part .nav-tabs > li > a, .JScookies-part .nav-tabs > li.active > a { 
    border: none; 
    border-radius: 0; 
}
.JScookies-part .nav-tabs {
    padding: 0;
}
.JScookies-part .nav-tabs > li > a:hover { background: #fff; }

.JScookies-part h4 { padding-bottom: 5px; }

.JScookiesInfo_btn { text-decoration: underline; }
/*============== SOCIAL ICONS ===========*/
#preheader > .social-icons {
    position: fixed;
    right: 0;
    top: 35%;
    transform: translateY(-35%);
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    z-index: 50;
}
.social-icons a {
    display: inline-block;
    font-size: 16px;
    width: 25px;
    height: 25px; 
    margin: 1px 0; 
    line-height: 25px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
}
.social-icons a:hover { opacity: .7; } 
.social-icons .facebook { background-color: #3b5999; }
.social-icons .twitter { background-color: #55acee; }
.social-icons .google-plus { background-color: #dd4b39; }
.social-icons .skype { background-color: #00AFF0; border-radius: 50px; }
.social-icons .youtube { background-color: #b30000; }
.social-icons .linkedin { background-color: #007bb5; }
.social-icons .instagram { background-color: #C13584; }
footer .social-icons a { margin: 10px 5px; }

/*--- SCROLL TO TOP ---*/
.JSscroll-top {
    position: fixed;
    font-size: 18px;
    line-height: 18px; 
    color: #747474;
    right: -70px;
    bottom: 95px; 
    background: var(--scroll_top_bg);
    z-index: 20;
    padding: 10px 15px;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.JSscroll-top:hover { background: var(--btn_bg); color: var(--btn_color); }

/* ======= NEWS ========= */
.news {
    padding: 10px;
    margin: 20px 0;
    background: #fff;
    box-shadow: 0 0 1px 2px rgba(0,0,0, .05);
}
.news:hover {
    box-shadow: 0 0 3px 3px rgba(0,0,0, .1);
}
.news .bg-img, .card-blog .bg-img {
    padding-top: 70%;
}
.overlink {
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
}
.news-title, .news-date { margin: 15px 0; }

.news-title { font-size: 150%; }

.card-blog .news-title { height: 65px; }

.card-blog:hover .bg-img { opacity: .8; }

.news-desc { margin: 10px 0 5px; }

.news iframe, .single-news iframe {
    width: 100%;
    height: auto;
}
.single-news iframe { height: 56.25vh; } 

.single-news { padding: 30px 0; }

iframe { max-width: 100%; }

/***************************/
.ktlg-page .box {
    box-shadow: 0 0 5px #ddd;
    padding: 15px 0;
    margin: 10px 0;
}
.ktlg-page span {
    font-size: 16px;
    font-weight: 500;
    display: block;
}
/*- PRODUCT LIST OPTIONS -*/
.JSproduct-list-options { margin: 10px 0; }

.view-buttons { margin: 0 10px; } 

.view-buttons span {
    width: 27px;
    height: 27px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid transparent;
}

.view-buttons span.active { border: 1px solid #ddd; color: var(--view-buttons); }

.view-buttons span:hover { color: var(--view-buttons); } 

/*========= COMPARED ARTICLES ==============*/
.show-compered, .show-compered-active {
    padding: 2px 10px;
    margin: 7px 9px;
    border: 1px solid #ddd;
}

.show-compered:hover { background: #666; }

.show-compered-active {
    animation: pulse 1.5s ease-in-out infinite;
} 

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(91, 152, 185, 0.66); }
    70% { box-shadow: 1px 1px 5px 20px rgba(251, 174, 157, 0); }
    100% { box-shadow: 0 0 0 0 rgba(91, 152, 185, 0); }
} 

#JScompareTable .JSclearCompare { 
    background: var(--remove_color);
    padding: 2px 7px;
} 

#JScompareTable .JSclearCompare:hover { opacity: .8; }

.compare-table table { width: 100%; }

.compare-table table td { 
    max-width: 275px;
}
.compare-table img {
    max-height: 75px;
    max-width: 100%;
} 
 
.article-heading {
    margin: 10px 0;
    font-size: 18px; 
    color: #747474;
    padding: 5px 0; 
    border-bottom: 1px solid #ddd;
} 
/*- PRODUCT PREVIEW IMAGE -*/
.zoomWrapper {
    width: 100% !important;
    height: 400px !important;
    line-height: 400px; 
    background: #fff;
    overflow: hidden !important; 
} 
.zoomContainer:last-of-type, .zoomWindowContainer { display: none !important; }
.zoomWrapper span { width: 100% !important; }
.zoomWrapper img {
    position: relative !important;
    height: auto !important;
    max-height: 100% !important;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
    width: auto !important; 
    padding: 10px 0;
}
a.elevatezoom-gallery { 
    width: 100%;
    height: 90px;
    display: inline-flex;
    display: -webkit-inline-flex;
    background: #fff;
    z-index: 1; 
    margin: 5px 0;
    padding: 10px; 
}
a.elevatezoom-gallery img {  
    max-height: 70px; 
    max-width: 100%;
}
.fancybox-overlay-fixed { background: rgba(0, 0, 0, .7); }
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('../../../images/fancybox/fancybox_sprite.png') !important;
} 
.additional_img a { 
    border: 1px solid #dddd;
    max-width: 55px;
    width: 100%;
    height: 50px;
}
.additional_img a:hover {
    border-color: var(--global_color);
}
.additional_img img {
    max-height: 40px;
    padding: 5px;
    margin: 2px 0;
}
/* ======================= */ 


/************/  
.attributes {
    margin: 0 0 10px;
} 
.attributes span {
    padding: 2px 8px;
    color: #fff;
    text-shadow: 1px 1px 1px #000; 
    border: 3px solid #ddd;
}
.attributes input { position: absolute; visibility: hidden; }

.attributes input:checked + span { border: 3px solid #000; }
 
 
/***********************/ 
.price-label {
    font-size: 115%;
}
.price-num {
    font-size: 130%;
}
.discount, .price-num {  
    color: var(--discount_price_color);  
}
.mp-price { 
    color: var(--article_product_price_color);  
}
.main-price {
    font-size: 195%;
}
/***********************/
 
/*- PRODUCT PREVIEW TABS */
.nav-tabs {
    text-shadow: 0.2px 0.2px;
    padding: 20px 0 0;
    justify-content: center;
    -webkit-justify-content: center;
}

.nav-tabs> li > a { border-bottom: 2px solid transparent !important; border: none; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs> li.active > a:hover,.nav-tabs> li >a:hover {
    border: none; 
    border-bottom: 2px solid var(--global_color) !important;
    color: var(--a_href_color);
}
.product-preview-tabs { margin-top: 20px; } 

.tab-content {
    padding: 10px 5px;
    min-height: 100px;
}
.tab-content table td { text-align: left; padding: 4px 5px !important; }
.tab-content table { width: 100%; }

/*===== COMMENTS ========= */
.comment-content { 
    margin-bottom: 5px;
    padding: 6px 10px;
    font-size: 13px;
    box-shadow: 0px 0px 10px #ddd; 
} 
.comment-date {
    font-size: 11px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.replies { margin: 0 0 0 20px; }
.replies .comment-content { color: #000; background: #e6e6e6; }

/* ============ INSIDE CART =============== */
.without-btn {
    background-color: #f7f7f7;
    color: #808080;
    margin: 15px 0px;   
    padding: 8px 0;
    border: 1px solid transparent;
}
.without-btn.active { 
   border:1px solid var(--btn_bg);
} 
.without-btn i { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease; 
}
.without-btn.active i { -webkit-transform: scale(1); transform: scale(1); }

/*- CART ITEMS -*/
.cart-labels { border-bottom: 1px solid #e9e9e9; }

.cart-labels li {
    padding: 7px 8px;
    color: #747474; 
} 
.cart-item li {
    padding: 7px 3px;
    min-height: 85px;
} 
.cart-image { max-height: 70px; }
  
a.JScart-less, a.JScart-more { color: #999; }

input.JScart-amount, input.cart-amount {
    width: 35px; 
    height: 35px; 
}
 /*- BELOW CART -*/ 
 
.cart-summ > div { 
    padding: 5px 10px;
    border-bottom: 1px solid #e9e9e9;
}  
.sum-label, .sum-amount {
    min-width: 45%;
}
.sum-amount { font-size: 135%; } 
   
.JSfree_delivery { color: #666; } 

/*--- USER PAGE ---*/
 
.user-orders-table tr th {
    background-color: #f9f9f9;
    border-bottom: none !important;
}
/**********/
.modal-footer, .modal-header { border: none; }

.bootbox p {    
    font-size: 120%;
    margin: 10px 0 0;
} 

.bootbox .modal-dialog { top: 30%; }

.bootbox .modal-dialog .btn { padding: 5px 30px; border: none; }

.bootbox .modal-dialog .btn:nth-child(1) { background-color: var(--btn_bg); }

.bootbox .modal-dialog .btn:hover { box-shadow: 1px 1px 5px #666; }

/*--- CONTACT PAGE ---*/
.map-frame {
    margin: 10px 0;
    height: 330px; 
}
.map-info {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 225px;
    height: 54px;
    background: #fff;
    padding: 10px 0 10px 15px;
}
.map-info h5 {
    font-size: 14px;
    margin: 0 0 5px; 
}
.map-info h6 { 
    color: #5B5B5B; 
    font-size: 12px;
}
.map-info h5, .map-info h6 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
footer .map-frame {
    max-height: 230px;
}

/*--------- AlL  CATEGORY PAGE -------------*/
.category-heading {
    margin: 15px 0 0;
    padding: 4px 10px;
    border-radius: 2px;
    color: #000;
    background-color: #f2f2f2
}
.category-name-link {
    margin: 3px 0; 
    border-bottom: 1px solid #ddd;
} 
.category__list__item__link { line-height: 1.7; }
.category-name-link, .category-heading, .category__list__item__link { font-size: 1em; } 
/*--------- ALL  CATEGORY SIDEBAR ------------- */

.JScategory-sidebar__list { margin: 20px 0; background: #f2f2f2;  }
.category-sidebar__list--fix { position: fixed; top: 15px; width: 270px; }
.category-sidebar__list__item__link { 
    padding: 2px 10px;  
}
.sticky-element {
    position: sticky; 
    z-index: 1;
    top: 0;
}
/*************/
#main-menu li a:hover,  
.footer-links li a:hover, 
.JSlevel-1 li a:hover,
.top-menu a:hover,
.login-title span:hover
{ 
    color: var(--a_href_color);
}

/*************/  

.product-preview-info .like-it, .printer a i {
    height: 35px;
    width: 35px;
    border: 1px solid #ddd;
}
.printer a i { line-height: 33px; }

.product-preview-info .like-it:hover, .printer a i:hover {
     color: var(--a_href_color);
     border: 1px solid var(--global_color);
}

.product-preview-price > div, .product-preview-info .review {
    margin: 10px 0;
}

/* article page admin button*/ 
.admin-article {
    position: absolute;
    top: 65px;
    right: 0;
    background: linear-gradient(#fff,#ddd); 
    padding: 0 7px;
    margin: 5px;
    z-index: 2;  
    border: 1px solid #ddd;
    font-size: 90%;
}
.article-level-edit-btn { 
    border: 1px solid #bbb;
    font-size: 11px;
    padding: 0 5px; 
}
.article-edit-btn {  
    border: 1px solid #bbb; 
    font-size: 11px;
    padding: 0 5px;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: #fff;
} 
 
/*======================*/
.new-content { padding: 30px 0; }

.new-content img { 
    max-width: 100%;
    max-height: 700px;      
    margin: 0 5px; 
}

/* POLLS */
.polls {
    max-width: 600px;
    margin: auto;
    background: rgba(0,0,0, .03);
    padding: 5px 15px;
}
.poll {
    box-shadow: 0 0 8px rgba(0,0,0, .1);
    background: #fff;
    padding: 15px;
    margin: 15px 0;
}
.poll .question {
    font-size: 105%;
    margin: 0 0 5px;
}
.poll input { cursor: pointer; }

.poll .answer {
    padding: 2px 0;
} 
.poll .answer:hover {
    background: rgba(0,0,0, .03);
}
.polls .btn {
    background: rgba(0, 0, 0, .05);
    width: 100%;
    max-width: 115px;
}
.polls .btn:hover {
    background: rgba(0, 0, 0, .09);
}
/* Login/Registration Forms */

.registration-form {
    max-width: 440px; 
}
.registration-form .button {
    width: 100%;
}
.login-title span {
    font-size: 135%;
    margin: 0 10px;
}
.login-title span.active-user {
    color: var(--global_color);
}

/*************/
.welcome-login { font-size: 13px; color: #8c8c8c;  }
.welcome-login span {
    font-size: 15px;
    margin: 5px 0; 
    color: #595959;
}
.forgot-psw {
    color: #777;
    margin: 10px 0;
}

/*======= ACTION SLIDER ==============*/
/*.btn-slider {
    padding: 1px 5px;
    color: var(--global_color);
    background-color: transparent; 
    top: -35px;
    position: absolute;
}
.btn-slider:active{ opacity: .6; }*/
  
/* ADDITIONAL FILES */
.files-list-item { 
    margin: 10px;
}
.files-name { font-weight: normal; margin: 6px; }

.features-list li { 
    border-bottom: 1px solid #ddd;
    padding: 2px 10px; 
    width: 49%;
}
.features-list li:nth-child(even) { background: #f5f5f5; }
.generated-features-list:nth-child(even) { background: #f5f5f5; }
.generated-features-list > li:nth-child(1), .generated-features-list > li:nth-child(2), .generated-features-list > li ul li {
    display: inline-block;
    padding: 2px 5px;
    line-height: 1.3;  
}
.generated-features-list > li:nth-child(1) { width: 28%; }
.generated-features-list > li:nth-child(2) { width: 70%; }
.generated-features-list > li ul li { border-bottom: 1px solid #ddd; width: 50%; }
.generated-features-list > li ul li:nth-last-child(-n+2) { border-bottom: none; }
.files-link img { max-width: 60px; }

/*============ BRENDS ==============*/
.brend-item {
    background: #fff; 
    padding: 5px 15px; 
    color: #222;
    height: 80px;
    margin: 15px 0; 
    box-shadow: 1px 1px 3px #f2f2f2;
    justify-content: center;
    -webkit-justify-content: center;
}
.brend-item img { max-height: 65px; padding: 5px 0; }
/*.brandSlider img{
    max-width: 100%;
    max-height: 60px;
    margin: 15px 0;
    }*/
    /*=======================*/
 
.no-articles {
    padding: 10px; 
    background: #f4fafc;
}
#admin-menu { 
    background: #f2f2f2; 
    padding: 5px;   
    position: sticky;
    top: 0;
    z-index: 51; 
    border-bottom: 1px solid #fff;
    font-size: 12px;
}
#admin-menu a i { color: #e55539; font-size: 15px; }

#admin-menu a:hover { color: #aaa; }

.success { margin: 10px 0 0;  padding: 5px; }

/* OCENE */
 
.review i { color: var(--review_star_color); } 
.bw { background-color: var(--inner_body_bg); }
/*.karak-row {
    min-height: 25px;
    border-bottom: 1px solid #bbb; 
}
.karak-row:last-child{
    border-bottom: none;
}*/

/*---------- MEDIAQUERIES ----------*/
@media (max-width: 1920px) {  
    .JSmain-slider {
        max-height: 700px;
    }
}
@media (max-width: 1600px) {  
    .JSmain-slider {
        max-height: 640px;
    }
}
@media (max-width: 1366px) {  
    .JSmain-slider {
        max-height: 545px;
    }
}
/*=====================================*/
@media screen and (min-width:1200px) {
    .d-content:after { 
        max-width: 1140px; /* CONTAINER CONTENT WIDTH */
        left: calc(50% - 570px); /* 570px = (CONTAINER CONTENT WIDTH / 2)  */ 
    }
}
@media screen and (min-width:991px) {
    .JSlevel-2 {
        position: absolute;
        padding: 10px 0;
        width: 100vw;
        max-width: 720px;
        top: 0;
        left: 100%; 
        background: var(--categories_level_2_bg); 
        -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
        min-height: 100%;
    }
    .JSlevel-1 li:hover .JSlevel-2 {
        display: block; 
    } 

    .JSsubcat-toggle { 
        height: 20px;
        line-height: 20px;
    }
    /**************/

    .category-nav:hover .JSlevel-1 { display: block; } 

    .JSlevel-1 { 
        background-color: var(--categories_level_1_bg);
        position: absolute; 
        width: 100%;
        border-right: 1px solid #DADADA;
        border-left: 1px solid #DADADA;
        z-index: 50; 
    } 

    .JSlevel-2 + .JSsubcat-toggle, 
    .JSlevel-3 + .JSsubcat-toggle,
    .JSlevel-1, 
    .drop-2  {
        display: none;
    }
 
    /**************/
    
    body.modal-open { overflow-y: auto; margin-right: -17px; overflow-x: hidden; }
    
    /**************/
    
    #main-menu .drop-2 > li > a {
        border-bottom: 1px solid #fff;    
        margin: 0 10px; 
    }  
    .drop-2 { background-color: var(--menu_bg); }
     
    .top-menu li, #main-menu > li { display: inline-block; }

    /**************/
   
    .shop-product-card {  
        margin: 15px 3%;
    }

    /**************/
 
    #product-page .JSproduct { width: 33%;  } 

    /**************/

    .news .news-title {
        padding: 5px 0;
        border-bottom: 1px solid #DADADA;
    }

    /*ANIMATION - SHOW ADD-TO-CART-CONTAINER*/ 

    .shop-product-card .add-to-cart-container > button {  
        transform: translate(-50px, 0);
        opacity: 0;
        transition: transform .2s ease, opacity .2s ease;
        -webkit-transition: transform .2s ease, opacity .2s ease;
    }

    .shop-product-card:hover .add-to-cart-container > button {
        transform: translate(0, 0); 
        opacity: 1;
    }

    .shop-product-card .add-to-cart-container > button:nth-child(1) {
        transition-delay:.1s;
    }

    .shop-product-card .add-to-cart-container > button:nth-child(2) {
        transition-delay:.2s;
    } 

     .shop-product-card .add-to-cart-container > button:nth-child(3) {
        transition-delay:.3s;
        margin-bottom: 5px;
    }

    .shop-product-card .add-to-cart-container > button:nth-child(4) {
        transition-delay:.4s;
    }
    /**************/
    .without-registration .capcha {
        margin: 0;
    }

    .login-dropdown {
        left: unset;
        right: 0;
    }

    /**************/

    .JSd_content {
        width: calc(100% - 270px); /* CATEGORIES WIDTH */
    }
    .JSloader {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 50;
        background: rgba(255,255,255, .98); 
    }

    .load-ring { 
        position: relative; 
        width: 60px;
        height: 60px;
        margin: 200px 0;
    }
    .load-ring div { 
        position: absolute;
        width: 100%;
        height: 100%; 
        border: 2px solid #b3b3b3;
        border-radius: 50%;
        animation: load-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #b3b3b3 transparent transparent transparent;
    }
    .load-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }
    .load-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }
    .load-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }
    @keyframes load-ring {
        0%   { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    @-webkit-keyframes load-ring {
        0%   { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    } 

    /***********/ 
}

/*--- MIN WIDTH 768px ---*/
@media screen and (min-width: 768px) {

    .shop-product-card .price-holder {
        height: 40px;
    }
    .shop-product-card .product-name {
        height: 31px;
    }
    .generated-features-list:last-child { border-bottom: none; }
    .generated-features-list {
        font-size: 1em;
        padding: 0 10px;
        display: table;
        width: 100%;
        border-bottom: 1px solid #ccc;
    } 
 
    .contact-two-column > div {
        float: left;
        width: 49%;
        margin-right: 1%; 
    }
    .contact-two-column > div:nth-child(2) {
        margin-left:1%;
        margin-right: 0;
    }

    .newsletter-part > div:nth-child(1) { padding-right: 15px; }

    .JSmain-slider .sliderText, .newsletter-part h5  {
        font-size: 20px;
    }
    /****************/
    .main_imgGallery { height: 500px; }

    .main_imgGallery .JSmain_img { max-height: 490px; }

    .container-fluid  .gallery_slider {
        grid-template-columns: repeat(15, 1fr);
    }
    .container .gallery_slider { grid-template-columns: repeat(10, 1fr); }
    
    .gallery_slider {
        grid-auto-rows: 70px;
    }
    .gallery_slider img { max-height: 60px; }

    .JScookiesInfo_btn { 
        float: right; 
        padding: 6px 15px;
        margin: 5px 0;
    }

    /*============== LOGO BANKS ===========*/ 
    .after-footer .banks .banc_main_logo img { 
        max-width: 235px; 
        margin: 0 8px; 
    }
    .after-footer .banks.justify-between {
        justify-content: space-between;
        -webkit-justify-content: space-between;
    }
    .after-footer .banks.justify-center {
        justify-content: center;
        -webkit-justify-content: center;
    }
}

/*======================*/
  
@media only screen and (max-width: 991px) {
    #responsive-nav {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        max-width: 288px;
        width: 0%; 
        background-color: rgba(255,255,255,0.95);
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: 0.5s all;
        transition: 0.5s all;
        z-index: 990;
        overflow-y: auto;
    }
    .resp-nav-btn { 
        border: 1px solid var(--global_color);
        color: var(--global_color);
        padding: 2px 8px;
        font-size: 16px;
        margin: 8px;
    }
    .openMe {
        width: 100% !important;
        -webkit-transform: translateX(0%) !important;
        -ms-transform: translateX(0%) !important;
        transform: translateX(0%) !important;
    }


    /**************/ 
    .category-nav h3 { background: #5b98b9; color: #fff; }
     
    .drop-2, .JSlevel-1 li {
        position: relative;
    }
    .JSlevel-2 li { padding-right: 0; } 

    #main-menu .drop-2 li a { margin: 0 0 0 10px; } 

    .JSsubcat-toggle { display: inline-block; }  

    #main-menu { margin: 20px 0; }   
    
    .container { width: auto; padding: 0; }
         
    .JSclose-nav { 
        position: absolute;
        right: 20px;
        top: 0;
        font-size: 30px;
    } 
  
    .JSlevel-1 li a, #main-menu li a {   
        padding: 8px 12px;
    } 
    
    .sm-no-padd { padding: 0; } 

    .hidden-small, .JSlevel-3,  #main-menu li a:after { display: none; }

}
/*=================*/
@media only screen and (max-width: 768px) {

    .JScategory-sidebar__list {
        position: fixed;
        top: 50%;
        right: 0px;
        margin-right: -80%;
        width: 80%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: margin 0.2s ease-in-out;
        transition: margin 0.2s ease-in-out;
        border: 1px solid #ddd;
    }
    .JScategory-sidebar__list__toggler {
        line-height: 30px;
        text-align: center;
        font-size: 20px;
        width: 35px;
        height: 35px;
        position: absolute;
        top: 50%;   
        transform: translateY(-50%);
        left: -35px;
        background: #f0f0f0;
        border-radius: 3px 0px 0px 3px;
        color: #747474;
        font-weight: 700;
        border: 1px solid #747474;
        cursor: pointer;
    }
    .category-sidebar__list--open { margin-right: 0%;} 
    .category-sidebar__list--open .JScategory-sidebar__list__toggler:before { content: "\2192";} 
    .JScategory-sidebar__list__toggler:before { content: "\2190";} 

    .top-menu ul a {
       border-bottom: 1px solid #fff;
    }

    footer li {
        margin: 10px 0;
    } 
    
    a.elevatezoom-gallery { width: 23%; } 
    
    .sm-text-center { text-align: center; }
    
    .disableZoomer:after {
        content: ''; 
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .generated-features-list > li:nth-child(2) { width: 100%; }
    
    .ft-section-title {
        min-height: auto;
        margin: 15px 0; 
        padding: 0 0 5px; 
    }
         
    .category-sidebar__list__item__link { padding: 5px 10px; } 
    
    .JSproduct-list-options { padding: 5px 0; }
         
    .generated-features-list { margin: 30px 0; }
    
    .product-preview-tabs .generated-features-list .features-list-title { 
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
        color: #000; 
        font-weight: 600; 
        width: 100%;
    } 

    .cart-item.row {
        border-bottom: 1px solid #ddd;
    }
 
    .price-holder {
        font-size: 120%; 
    }

    /*.shop-product-card { border-top: 1px solid #ddd; }*/

    .sm-text-left { text-align: left; }

    .JSmain-slider .slick-next, .JSmain-slider .slick-prev { 
        width: 35px;
        height: 35px;
    }
    .JSmain-slider .sliderText {
        left: 50%;
        transform: translate(-50%,-50%);
        width: 74%;
    } 
    .JSmain-slider .sliderText div > * {
        padding: 3px 5px; 
        font-size: inherit;
    }
    .compare-table {
        padding: 10px 3px;
    }

    /****************/

    .gallery-ban {
        grid-template-rows: repeat(4, minmax(40px, 1fr));
    }

    .gallery-title {
        font-size: 110%;  
    }

    /****************/
    .main_imgGallery { height: 200px; }

    .main_imgGallery .JSmain_img { max-height: 190px; }

    .gallery_slider {
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 50px;
    }
    .gallery_slider img { max-height: 40px; }
    
    .shop-product-card .top-cart-container {
        top: calc(50% + 25px);
    }

    /*============== LOGO BANKS ===========*/ 
    .after-footer .banks { 
        flex-direction: column;
        -webkit-flex-direction: column;
    }
} 

/*--- MAX WIDTH 480px ---*/
@media screen and (max-width:479px) { 

    .section-title, .page-title, .news-title
    { 
        font-size: 18px;
    }
    
    .scrollable { overflow-y: scroll; max-height: 400px; }
    
    .article-heading { font-size: 16px; }
    
    .zoomWrapper { height: 180px !important; } 
    
    .tab-titles { font-size: 13px; } 
    
    /*************/

    .shop-product-card .product-image-wrapper { height: 200px; }
    
    .shop-product-card .product-image { max-height: 190px; }
   
    /*************/
    
    .cart-item li { border: none; min-height: auto; } 
    
    .zoomContainer { display: none; }
    
    .JSmain-slider {
        max-height: 180px;
    }

    .JSmain-slider .sliderText div > *, .JSmain-slider .sliderText  {
        margin: 0;
    }
    .nav-tabs { border-bottom: 0; }

    .nav-tabs li {border: 2px solid transparent;}
}